body {
    background-color: #222222;
    color: #ffffff;
    font-family: arial;
  }
  
  /* Create a top navigation bar with a black background color  */
  .topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create a right-aligned (split) link inside the navigation bar */
  .topnav a.split {
    float: left;
    background-color: #04AA6D;
    color: white;
  }
  
  /* Discord thing class weewoo */
  .topnav a.discord {
    background-color: #5865F2;
    color: #ffffff;
  }

  .main h1 {
    text-decoration: underline;
    font-size: 48px;
    text-align: center;
  }

  .main button {
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 35%;
  }

  .container {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(300px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    gap: 10px;
}

.container img {
  height: 100px;
}

.container i {
  font-size: 36px;
  color: #FFFF99
}

.box {
  color: #fff;
    background: #00000080;
    display: grid;
    place-items: center;
}

.content {
  font-size: 42px;
  text-align: center;
}